.logo-img {
  width: 45px;
}

.logo-text {
  font-family: "Kaushan Script", cursive;
  font-weight: 700;
  font-size: 30px;
  padding-left: 15px;
}

.logo-info {
  background-color: #0d6efd;
  color: white;
  padding: 5px 8px 6px 8px;
  border-radius: 5px;
}

.card {
  text-align: justify;
  text-justify: inter-word;
}
.author-img {
  height: 40px;
  width: 40px;
  border-radius: 75px;
}

.article-first::first-letter {
  font-size: 3em; /* Adjust the size of the first letter */
  font-weight: bold; /* Make the first letter bold if desired */
  margin-right: 0.1em; /* Add some spacing to the right of the first letter */
  float: left;
  line-height: 1; /* Adjust the line height for better readability */
    
  
}
